body{
	max-width: 1000px;
}
ul{
	display: flex;

	flex-direction:column;
	
}
li{
	flex: 1 1 auto;
}
@media screen and (min-width: 600px) {
	ul {
		flex-direction: row;
		justify-content: space-between;
	}
}

@media screen and (min-width: 800px) {
	li {
		margin-right: auto;
	}
	article{
		display:grid;
		grid-template-columns: 200px 1fr;
		grid-gap: 20px;
	}
	#section1{
		display:grid;
		grid-template-columns: 1fr 200px;
		grid-gap: 20px;
	}

}

.img{
	grid-column: 1;
}
.caption{	
	grid-column: 1;
}

#nav{
	grid-column: 1 / span 2;
}

#section1{
	grid-column: 1;
}

