body {
	max-width: 2000px;
	justify-content: center;
}

header {
	display: flex;
	flex-flow: row;
	margin: 0;
	padding: 0 10px;
}

.menu-trigger {
	order: 1;
	font-size: 2em;
	width: 2em;
}
.burger li a{
	color:whitesmoke;
}
header h1 {
	order: 2;
	font-size: 2em;
}

nav ul {
	display: none;
}

@media screen and (min-width: 700px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		border-top: none;
	}
	.menu-trigger {
		display: none;
	}
	nav {
		order: 2;
	}
	header h1 {
		order: 1;
	}
}

ul {
	display: flex;
	flex-direction: column;
}

li {
	flex: 1 1 auto;
}

@media screen and (min-width: 600px) {
	ul {
		flex-direction: row;
		justify-content: space-between;
	}
}

@media screen and (min-width: 800px) {
	li {
		margin-right: auto;
	}
	article {
		display: grid;
		grid-template-columns: 200px 1fr 200px;
		grid-gap: 20px;
		grid-template-areas: "a b b" ". c e" "d d d";
	}
}

.img {
	grid-area: a;
}

.caption {
	grid-column: a;
}

.project {
	grid-area: d;
}

.section1 {
	grid-area: c;
}
.contact{
	grid-area: b;
	background-color: rgb(247, 213, 213);
}