html {
    font-size: 100%;
    text-align: center;
}

p {
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    font: size 1rem;
    line-height: 1.5rem;
    color: #57727F;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

h1 {
    padding: 1.5rem;
    font-weight: bolder;
}

body {
    background-color:whitesmoke;
    font-size: 1.2rem;
}


.burger li{

    list-style-type: none;
    width:200px;
    align-items: center;
}

.burger li a:link{ 
    text-decoration: none;}
#nav {
    padding: 0;
    align-self: center;
    
}

#nav li {
    list-style-type: none;
    width:200px;
}

#nav a {
    display: block;
    color: white;
    text-decoration: none;
}

#nav a:hover, a:active {
    background-color:pink;
} 

* {
	box-sizing: border-box;
}

ul {
	padding: 10px;
	background: rgb(247, 213, 213);
  	border-radius: 5px;
	margin: 45px auto;
  	box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
}
li {

    width:auto;
    height: 50px;
	padding: 15px;
	margin: 5px;

	border-radius: 3px;
}


.img {
    border: none;
    margin-bottom: 0;

}

.caption {
    text-align: right;
    font-size: 0.5rem;
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    font-style: italic;
    margin-top: 0;
}

#footer {
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 0.8em;
    border-top: 1px solid black;
}